* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.WelcomePage {
  text-align: center;
  font-family: 'Arial', sans-serif;
  /* background: #408EC6; */
  color: white;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_heading{
  color: #1E2761;
}
.App-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

h1 {
  font-size: 55px;
  position: absolute;
  margin: 0;
  white-space: nowrap;
  color:#1E2761;
}
 .p {
  position: absolute;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  top: 33%;
  left: 50%;
  transform: translate(-38%, -38%);
  white-space: nowrap;
}

@media only screen and (min-width: 500px) {
  .p {
    font-size: 30px;
  }
}

@media only screen and (min-width: 700px) {
  .p {
    font-size: 30px;
  }
}

.p1 {
  /* text-shadow: 1px 1px 1px black, -1px -1px 1px black; */
  color: #1E2761;
}

/* .App-header h1 {
  font-size: 5em;
  margin-bottom: 0.5em;
  transform: translateY(-20px);
  animation: fadeInSlideIn 1.5s forwards;
  color: #7A2048;
} */


.features {
  margin: 20px 0;
  text-align: center;
}

.features h2 {
  color: #fff;
  margin-bottom: 20px;
}

.welcome_msg>span{
  animation: shake 0.5s infinite;
  font-size: 25px;
  color: #1E2761;
  font-weight: 900;
}


.features-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.feature-item {
  /* background: rgba(168, 43, 43, 0.2); */
  background: linear-gradient(135deg, rgba(132, 185, 223, 0.7), rgba(30, 39, 97, 0.9));
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  text-align: center;
  border: 1px solid #1E2761;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  /* border: 2px solid #1E2761; */
}

.feature-item .icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.cta button {
  background-color: #1E2761;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 15px;
}



